*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.container{
    width: 100vh;
}

.menu {
    position: absolute;
    width: 100%;
    height: 7rem;
    top: 1rem;
    padding: 1rem; 
    border-top: .1rem solid #000;
    border-bottom: .1rem solid #000;
    background-color: aqua;
}

.menu .links{
    position: absolute;
    right: 4rem;
    font-size: 1.5rem;
}

header{
    width: 100%; 
    height: 100vh; 
    overflow: hidden; 
    position: relative;
}